@model IEnumerable<BankLoan_FinalProject.Models.Installment>

@{
    ViewBag.Title = "InstallmentDetal";
}

<h2>Installment Detal</h2>

<p>
    @Html.ActionLink("Pay Installment", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LoanType)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Amount)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PaymentDate)
        </th>
        <th>Update </th>
        <th>Delete</th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.LoanType)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Amount)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PaymentDate)
        </td>
        <td>
            <h3> @Html.ActionLink("Edit", "Edit", new { id = item.Id }) </h3> </td>
        <td>
            <h3>
                @Html.ActionLink("Delete", "Delete", new { id = item.Id })
            </h3>
        </td>
    </tr>
}

</table>


<a href="@Url.Action("Correct","Home")">Back to Main Site </a>