<!DOCTYPE html>
<html>
<head>

    <title>Repay </title>
    <!-- Meta tag Keywords -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="UTF-8" />
    <meta name="keywords" content="Repay Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template, Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyEricsson, Motorola web design" />
    <script>
        addEventListener("load", function() {
            setTimeout(hideURLbar, 0);
        }, false);

        function hideURLbar() {
            window.scrollTo(0, 1);
        }

    </script>
    <!-- //Meta tag Keywords -->
    <!-- Custom-Files -->
    <link rel="stylesheet" href="~/css/bootstrap.css">
    <!-- Bootstrap-Core-CSS -->
    <link rel="stylesheet" href="~/css/style.css" type="text/css" media="all" />
    <link rel="stylesheet" href="~/css/slider.css" type="text/css" media="all" />
    <!-- Style-CSS -->
    <!-- font-awesome-icons -->
    <link href="~/css/font-awesome.css" rel="stylesheet">
    <!-- //font-awesome-icons -->
    <!-- /Fonts -->
    <link href="//fonts.googleapis.com/css?family=Catamaran:100,200,300,400,500,600,700,800" rel="stylesheet">

    <!-- //Fonts -->


</head>
<body>


    <!-- mian-content -->
    <div class="main-w3-pvt-header-sec" id="home">

        <!-- header -->
        <header>
            <div class="container">
                <div class="header d-lg-flex justify-content-between align-items-center py-lg-3 px-lg-3">
                    <!-- logo -->
                    <div id="logo">
                        <h1><a href="#"><span class="fa fa-recycle mr-2"></span>Repay</a></h1>
                    </div>
                    <!-- //logo -->
                    <div class="w3pvt-bg">
                        <!-- nav -->
                        <div class="nav_w3pvt">
                            <nav>
                                <label for="drop" class="toggle">Menu</label>
                                <input type="checkbox" id="drop" />
                                <ul class="menu">
                                    <li> @Html.ActionLink("Home", "Index", "Home")  </li>
                                    <li> @Html.ActionLink("About", "About", "Home")  </li>
                                    <li> @Html.ActionLink("Contact", "Contact", "Home") </li>
                                </ul>
                            </nav>
                        </div>
                        <!-- //nav -->
                        <div class="justify-content-center">
                            <!-- search -->
                            <div class="apply-w3-pvt ml-lg-3">
                                <a class="btn read" href="@Url.Action("AdminLogin","Home")" role="button">Admin Login</a>
                            </div>
                            <!-- //search -->

                        </div>
                    </div>
                </div>
            </div>
        </header>
        <!-- //header -->
        <!-- banner -->
        <section class="banner_w3pvt">
            <div class="csslider infinity" id="slider1">
                <input type="radio" name="slides" checked="checked" id="slides_1" />
                <input type="radio" name="slides" id="slides_2" />
                <input type="radio" name="slides" id="slides_3" />

                <ul>
                    <li>
                        <div class="banner-top">
                            <div class="overlay">
                                <div class="container">
                                    <div class="banner-info">
                                        <div class="banner-w3ls-inner">
                                            <h4>Invest in your Future</h4>
                                            <h3>Personal Loans</h3>
                                            
                                            <div class="test-info text-left mt-lg-5 mt-4">
                                                
                                            </div>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="banner-top1">
                            <div class="overlay sec">
                                <div class="container">
                                    <div class="banner-info">
                                        <div class="banner-w3ls-inner">
                                            <h4>We Support Your Dream</h4>
                                            <h3>Home Loans</h3>
                                           
                                            <div class="test-info text-left mt-lg-5 mt-4">
                                                
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="banner-top2">
                            <div class="overlay">
                                <div class="container">
                                    <div class="banner-info">
                                        <div class="banner-w3ls-inner">
                                            <h4>Invest in your Future</h4>
                                            <h3>Business Loans</h3>
                                           
                                            <div class="test-info text-left mt-lg-5 mt-4">
                                               
                                            </div>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </li>

                </ul>
                <div class="arrows">
                    <label for="slides_1"></label>
                    <label for="slides_2"></label>
                    <label for="slides_3"></label>

                </div>
            </div>
        </section>
        <!-- //slider -->
    </div>

    <!-- //banner -->
    



    <div class="container-fluid body-content">
        @RenderBody()
        <hr />
    </div>

    <!-- footer -->
    

    <!-- //footer bottom -->
    
    <!-- //footer -->
    <div class="copy-right">
        <div class="container">
            <div class="row">
                <p class="copy-right-grids text-md-left text-center my-sm-4 my-4 col-md-6">
                    © 2019 Repay. All Rights Reserved | Design by
                   Bank Portal 
                </p>
                
                <div class="move-top text-right col-md-1"><a href="#home" class="move-top"> <span class="fa fa-angle-up  mb-3" aria-hidden="true"></span></a></div>

            </div>
        </div>
    </div>
</body>
</html>
